WsCliente.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://ws.processtask.duoc.cl/" name="wsCliente" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.processtask.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.processtask.duoc.cl/" schemaLocation="WsCliente_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="listarCliente">
    <part name="parameters" element="tns:listarCliente"/>
  </message>
  <message name="listarClienteResponse">
    <part name="parameters" element="tns:listarClienteResponse"/>
  </message>
  <message name="eliminarCliente">
    <part name="parameters" element="tns:eliminarCliente"/>
  </message>
  <message name="eliminarClienteResponse">
    <part name="parameters" element="tns:eliminarClienteResponse"/>
  </message>
  <message name="ingresarCliente">
    <part name="parameters" element="tns:ingresarCliente"/>
  </message>
  <message name="ingresarClienteResponse">
    <part name="parameters" element="tns:ingresarClienteResponse"/>
  </message>
  <message name="buscarAllCliente">
    <part name="parameters" element="tns:buscarAllCliente"/>
  </message>
  <message name="buscarAllClienteResponse">
    <part name="parameters" element="tns:buscarAllClienteResponse"/>
  </message>
  <message name="actualizarCliente">
    <part name="parameters" element="tns:actualizarCliente"/>
  </message>
  <message name="actualizarClienteResponse">
    <part name="parameters" element="tns:actualizarClienteResponse"/>
  </message>
  <portType name="wsCliente">
    <operation name="listarCliente">
      <input wsam:Action="http://ws.processtask.duoc.cl/wsCliente/listarClienteRequest" message="tns:listarCliente"/>
      <output wsam:Action="http://ws.processtask.duoc.cl/wsCliente/listarClienteResponse" message="tns:listarClienteResponse"/>
    </operation>
    <operation name="eliminarCliente">
      <input wsam:Action="http://ws.processtask.duoc.cl/wsCliente/eliminarClienteRequest" message="tns:eliminarCliente"/>
      <output wsam:Action="http://ws.processtask.duoc.cl/wsCliente/eliminarClienteResponse" message="tns:eliminarClienteResponse"/>
    </operation>
    <operation name="ingresarCliente">
      <input wsam:Action="http://ws.processtask.duoc.cl/wsCliente/ingresarClienteRequest" message="tns:ingresarCliente"/>
      <output wsam:Action="http://ws.processtask.duoc.cl/wsCliente/ingresarClienteResponse" message="tns:ingresarClienteResponse"/>
    </operation>
    <operation name="buscarAllCliente">
      <input wsam:Action="http://ws.processtask.duoc.cl/wsCliente/buscarAllClienteRequest" message="tns:buscarAllCliente"/>
      <output wsam:Action="http://ws.processtask.duoc.cl/wsCliente/buscarAllClienteResponse" message="tns:buscarAllClienteResponse"/>
    </operation>
    <operation name="actualizarCliente">
      <input wsam:Action="http://ws.processtask.duoc.cl/wsCliente/actualizarClienteRequest" message="tns:actualizarCliente"/>
      <output wsam:Action="http://ws.processtask.duoc.cl/wsCliente/actualizarClienteResponse" message="tns:actualizarClienteResponse"/>
    </operation>
  </portType>
  <binding name="wsClientePortBinding" type="tns:wsCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listarCliente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminarCliente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ingresarCliente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscarAllCliente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="actualizarCliente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="wsCliente">
    <port name="wsClientePort" binding="tns:wsClientePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

