WsFlujoTarea.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://ws.processtask.duoc.cl/" name="wsFlujoTarea" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.processtask.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.processtask.duoc.cl/" schemaLocation="WsFlujoTarea_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="ingresarFlujoTarea">
    <part name="parameters" element="tns:ingresarFlujoTarea"/>
  </message>
  <message name="ingresarFlujoTareaResponse">
    <part name="parameters" element="tns:ingresarFlujoTareaResponse"/>
  </message>
  <message name="findAllFlujoTarea">
    <part name="parameters" element="tns:findAllFlujoTarea"/>
  </message>
  <message name="findAllFlujoTareaResponse">
    <part name="parameters" element="tns:findAllFlujoTareaResponse"/>
  </message>
  <message name="modificarFlujoTarea">
    <part name="parameters" element="tns:modificarFlujoTarea"/>
  </message>
  <message name="modificarFlujoTareaResponse">
    <part name="parameters" element="tns:modificarFlujoTareaResponse"/>
  </message>
  <message name="buscarByIdFlujoTarea">
    <part name="parameters" element="tns:buscarByIdFlujoTarea"/>
  </message>
  <message name="buscarByIdFlujoTareaResponse">
    <part name="parameters" element="tns:buscarByIdFlujoTareaResponse"/>
  </message>
  <portType name="wsFlujoTarea">
    <operation name="ingresarFlujoTarea">
      <input wsam:Action="http://ws.processtask.duoc.cl/wsFlujoTarea/ingresarFlujoTareaRequest" message="tns:ingresarFlujoTarea"/>
      <output wsam:Action="http://ws.processtask.duoc.cl/wsFlujoTarea/ingresarFlujoTareaResponse" message="tns:ingresarFlujoTareaResponse"/>
    </operation>
    <operation name="findAllFlujoTarea">
      <input wsam:Action="http://ws.processtask.duoc.cl/wsFlujoTarea/findAllFlujoTareaRequest" message="tns:findAllFlujoTarea"/>
      <output wsam:Action="http://ws.processtask.duoc.cl/wsFlujoTarea/findAllFlujoTareaResponse" message="tns:findAllFlujoTareaResponse"/>
    </operation>
    <operation name="modificarFlujoTarea">
      <input wsam:Action="http://ws.processtask.duoc.cl/wsFlujoTarea/modificarFlujoTareaRequest" message="tns:modificarFlujoTarea"/>
      <output wsam:Action="http://ws.processtask.duoc.cl/wsFlujoTarea/modificarFlujoTareaResponse" message="tns:modificarFlujoTareaResponse"/>
    </operation>
    <operation name="buscarByIdFlujoTarea">
      <input wsam:Action="http://ws.processtask.duoc.cl/wsFlujoTarea/buscarByIdFlujoTareaRequest" message="tns:buscarByIdFlujoTarea"/>
      <output wsam:Action="http://ws.processtask.duoc.cl/wsFlujoTarea/buscarByIdFlujoTareaResponse" message="tns:buscarByIdFlujoTareaResponse"/>
    </operation>
  </portType>
  <binding name="wsFlujoTareaPortBinding" type="tns:wsFlujoTarea">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="ingresarFlujoTarea">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findAllFlujoTarea">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modificarFlujoTarea">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscarByIdFlujoTarea">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="wsFlujoTarea">
    <port name="wsFlujoTareaPort" binding="tns:wsFlujoTareaPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

