WsUsuario.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://ws.processtask.duoc.cl/" name="wsUsuario" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.processtask.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.processtask.duoc.cl/" schemaLocation="WsUsuario_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="listarUsuario">
    <part name="parameters" element="tns:listarUsuario"/>
  </message>
  <message name="listarUsuarioResponse">
    <part name="parameters" element="tns:listarUsuarioResponse"/>
  </message>
  <message name="listarAllUsuario">
    <part name="parameters" element="tns:listarAllUsuario"/>
  </message>
  <message name="listarAllUsuarioResponse">
    <part name="parameters" element="tns:listarAllUsuarioResponse"/>
  </message>
  <message name="ingresarUsuario">
    <part name="parameters" element="tns:ingresarUsuario"/>
  </message>
  <message name="ingresarUsuarioResponse">
    <part name="parameters" element="tns:ingresarUsuarioResponse"/>
  </message>
  <message name="actualizarUsuario">
    <part name="parameters" element="tns:actualizarUsuario"/>
  </message>
  <message name="actualizarUsuarioResponse">
    <part name="parameters" element="tns:actualizarUsuarioResponse"/>
  </message>
  <message name="eliminarUsuario">
    <part name="parameters" element="tns:eliminarUsuario"/>
  </message>
  <message name="eliminarUsuarioResponse">
    <part name="parameters" element="tns:eliminarUsuarioResponse"/>
  </message>
  <portType name="wsUsuario">
    <operation name="listarUsuario">
      <input wsam:Action="http://ws.processtask.duoc.cl/wsUsuario/listarUsuarioRequest" message="tns:listarUsuario"/>
      <output wsam:Action="http://ws.processtask.duoc.cl/wsUsuario/listarUsuarioResponse" message="tns:listarUsuarioResponse"/>
    </operation>
    <operation name="listarAllUsuario">
      <input wsam:Action="http://ws.processtask.duoc.cl/wsUsuario/listarAllUsuarioRequest" message="tns:listarAllUsuario"/>
      <output wsam:Action="http://ws.processtask.duoc.cl/wsUsuario/listarAllUsuarioResponse" message="tns:listarAllUsuarioResponse"/>
    </operation>
    <operation name="ingresarUsuario">
      <input wsam:Action="http://ws.processtask.duoc.cl/wsUsuario/ingresarUsuarioRequest" message="tns:ingresarUsuario"/>
      <output wsam:Action="http://ws.processtask.duoc.cl/wsUsuario/ingresarUsuarioResponse" message="tns:ingresarUsuarioResponse"/>
    </operation>
    <operation name="actualizarUsuario">
      <input wsam:Action="http://ws.processtask.duoc.cl/wsUsuario/actualizarUsuarioRequest" message="tns:actualizarUsuario"/>
      <output wsam:Action="http://ws.processtask.duoc.cl/wsUsuario/actualizarUsuarioResponse" message="tns:actualizarUsuarioResponse"/>
    </operation>
    <operation name="eliminarUsuario">
      <input wsam:Action="http://ws.processtask.duoc.cl/wsUsuario/eliminarUsuarioRequest" message="tns:eliminarUsuario"/>
      <output wsam:Action="http://ws.processtask.duoc.cl/wsUsuario/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse"/>
    </operation>
  </portType>
  <binding name="wsUsuarioPortBinding" type="tns:wsUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listarUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listarAllUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ingresarUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="actualizarUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminarUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="wsUsuario">
    <port name="wsUsuarioPort" binding="tns:wsUsuarioPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

