src/conf/xml-resources/web-service-references/wsEmpresa/wsdl/localhost_8081/wsEmpresa/wsEmpresa.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.processtask.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.processtask.duoc.cl/" name="wsEmpresa">
<wsp:Policy wsu:Id="wsEmpresaPortBindingPolicy"/>
<wsp:Policy xmlns:wsat200410="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsu:Id="wsEmpresaPortBinding_registrarEmpresa_Policy">
<wsat200410:ATAssertion xmlns:ns1="http://schemas.xmlsoap.org/ws/2002/12/policy" wsp:Optional="true" ns1:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://ws.processtask.duoc.cl/" schemaLocation="http://localhost:8081/wsEmpresa/wsEmpresa?xsd=1"/>
</xsd:schema>
</types>
<message name="actualizarEmpresa">
<part name="parameters" element="tns:actualizarEmpresa"/>
</message>
<message name="actualizarEmpresaResponse">
<part name="parameters" element="tns:actualizarEmpresaResponse"/>
</message>
<message name="registrarEmpresa">
<part name="parameters" element="tns:registrarEmpresa"/>
</message>
<message name="registrarEmpresaResponse">
<part name="parameters" element="tns:registrarEmpresaResponse"/>
</message>
<message name="listarEmpresaById">
<part name="parameters" element="tns:listarEmpresaById"/>
</message>
<message name="listarEmpresaByIdResponse">
<part name="parameters" element="tns:listarEmpresaByIdResponse"/>
</message>
<message name="listarAllEmpresa">
<part name="parameters" element="tns:listarAllEmpresa"/>
</message>
<message name="listarAllEmpresaResponse">
<part name="parameters" element="tns:listarAllEmpresaResponse"/>
</message>
<message name="eliminarEmpresaById">
<part name="parameters" element="tns:eliminarEmpresaById"/>
</message>
<message name="eliminarEmpresaByIdResponse">
<part name="parameters" element="tns:eliminarEmpresaByIdResponse"/>
</message>
<portType name="wsEmpresa">
<operation name="actualizarEmpresa">
<input wsam:Action="http://ws.processtask.duoc.cl/wsEmpresa/actualizarEmpresaRequest" message="tns:actualizarEmpresa"/>
<output wsam:Action="http://ws.processtask.duoc.cl/wsEmpresa/actualizarEmpresaResponse" message="tns:actualizarEmpresaResponse"/>
</operation>
<operation name="registrarEmpresa">
<input wsam:Action="http://ws.processtask.duoc.cl/wsEmpresa/registrarEmpresaRequest" message="tns:registrarEmpresa"/>
<output wsam:Action="http://ws.processtask.duoc.cl/wsEmpresa/registrarEmpresaResponse" message="tns:registrarEmpresaResponse"/>
</operation>
<operation name="listarEmpresaById">
<input wsam:Action="http://ws.processtask.duoc.cl/wsEmpresa/listarEmpresaByIdRequest" message="tns:listarEmpresaById"/>
<output wsam:Action="http://ws.processtask.duoc.cl/wsEmpresa/listarEmpresaByIdResponse" message="tns:listarEmpresaByIdResponse"/>
</operation>
<operation name="listarAllEmpresa">
<input wsam:Action="http://ws.processtask.duoc.cl/wsEmpresa/listarAllEmpresaRequest" message="tns:listarAllEmpresa"/>
<output wsam:Action="http://ws.processtask.duoc.cl/wsEmpresa/listarAllEmpresaResponse" message="tns:listarAllEmpresaResponse"/>
</operation>
<operation name="eliminarEmpresaById">
<input wsam:Action="http://ws.processtask.duoc.cl/wsEmpresa/eliminarEmpresaByIdRequest" message="tns:eliminarEmpresaById"/>
<output wsam:Action="http://ws.processtask.duoc.cl/wsEmpresa/eliminarEmpresaByIdResponse" message="tns:eliminarEmpresaByIdResponse"/>
</operation>
</portType>
<binding name="wsEmpresaPortBinding" type="tns:wsEmpresa">
<wsp:PolicyReference URI="#wsEmpresaPortBindingPolicy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="actualizarEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarEmpresa">
<wsp:PolicyReference URI="#wsEmpresaPortBinding_registrarEmpresa_Policy"/>
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpresaById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarAllEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarEmpresaById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsEmpresa">
<port name="wsEmpresaPort" binding="tns:wsEmpresaPortBinding">
<soap:address location="http://localhost:8081/wsEmpresa/wsEmpresa"/>
</port>
</service>
</definitions>